body{
    background-color: rgb(99, 98, 98);
    margin: 0;
}
h1{
    color: rgb(218, 218, 218);
    font-family: "Times New Roman";
}
h2{
    color: rgb(5, 5, 5);
    text-align: center;
    font-family: "Times New Roman";
}
.Header{
    background-color: rgba(0, 0, 0, 0.692);
    text-align: center;
    padding: 20px;
}  
@media screen and (max-width: 600px){
.Content.Side, .Content.Middle{ 
    width: 100%;
    }
}
.Content{
    float: left;
}
.Content.Side{
    width: 15%;
    background-color: rgba(0, 0, 0, 0.452);
    height: 700px;
}
.Content.Middle{
    width: 70%;
    background-color: rgb(218, 218, 218);
    height: 700px;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.Footer{
    background-color: rgba(0, 0, 0, 0.692);
    padding: 60px;
}
#form{
    font-family: "Times New Roman";
    text-align: center;
}
#legend{
    font-family: "Times New Roman";
    font-size: 110%;
    text-align: center;
}
#borda{
    border: solid black 2px;
    border-radius: 4px;
    width: 50%;
    height: 500px;
}
@media screen{
    #nm, #slct, #img, #dt, #prc, #qtd{
        float: left;
        margin-left: 4px;
        font-family: "Times New Roman";
        font-size: 105%;
    }
}
@media screen{
    #nome, #data, #data, #preco, #quantidade, #select{
        float: right;
        width: 300px;
        padding: 2px;
        margin-right: 4px;
        font-family: "Times New Roman";
        font-size: 100%;
        border: solid rgba(0, 0, 0, 0.692) 2px;
        border-radius: 4px;
    }
}
#imagem{
    font-family: "Times New Roman";
    border: solid rgba(0, 0, 0, 0.692) 2px;
    border-radius: 4px;
    padding: 2px;
}
#salvar{
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  #limpar{
    background-color: rgb(226, 37, 37);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }